@model IEnumerable<MVC_Upload.Models.FileTB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <form action="@Url.Action("Upload")" method="post" enctype="multipart/form-data">
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" />
    </form>
</p>

@if (@TempData["Message"] != null)
{
    <span>@TempData["Message"].ToString() </span>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.File)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTENT_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.File)*@
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@

                @Html.ActionLink("Download", "Download", new { id = item.ID })
            </td>
        </tr>
    }
</table>


@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"].ToString()')
    </script>
}



